django
celery[redis]
celery-redbeat
django-model-utils
git+https://github.com/browniebroke/django-webpack-loader@539a3813c706480ec2b4da408b4f083bb2bbcea4
git+https://github.com/ierror/django-js-reverse@7cab78c4531780ab4b32033d5104ccd5be1a246a
django-import-export
djangorestframework
django-debreach
python-decouple
psycopg2
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk
